{% extends "base.html" %}

{% block content %}

<section class="middle">
    <div class="about-us-page">
        <div class="aboutus-header">
            <div clas="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="aboutus-main-heading">
                            <h1><span class="s">S</span>
                                <span class="k">k</span>
                                <span class="i">i</span>
                                <span class="l">l</span>
                                <span class="l">l</span>
                                <span class="l">U</span>
                                <span class="p">P</span>
                            </h1>
                            <p class="slogan" style="color:#d0eb21">
                                <span class="learn">LEARN, </span>
                                <span class="grow">GROW</span>
                                <span class="and">AND</span>
                                <span class="Succeed">SUCCEED</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-skillup">
            <h2>Why Skillup</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="card">
                            <h5>Best Instructor</h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <h5>Best Instructor</h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <h5>Trend as Experiance</h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <h5>Focuses On Logic Building</h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <h5>Find Optimal Solution</h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <h5>Provide Easy Notes</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock  %}