{% load static %}
{% include "header.html"%}
    <section classs="middle">
        <div class="courses">
            <div class="course_list">
                <h1>Available Courses</h1>
                <ul>
                    {% for course in courses %}
                        <li>{{ course.title }} - <a href="{% url 'quiz_detail' course.id %}">Take Quiz</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </section>

{% include "footer.html"%} 