{% extends 'base.html'%}

{% block content%}
<!-- middle section start -->
                <section class="middle">
                    <div class="top-header">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="top-header-left">
                                    <div class="container">
                                        <h1><span class="grow">Grow</span> 
                                            <span class="your">Your</span> 
                                            <span class="skill">Skills</span> 
                                            <span class="with">With US ...</span>
                                        </h1>
                                        <p>
                                            Nulla semper rhoncus ultrices varius euismod 
                                            viverra tincidunt nibh aliquam imperdiet lectus 
                                            libero molestie orci
                                        </p>
                                        <a type="button" href="courses/" class="btn btn-dark start-btn">Start Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="top-header-right">
                                    <img rel="header-img" src="static/images/laptop_mobile.jpeg"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="home-about-us">
                        <div class="row about-us-content">
                            <div class="col-sm-7">
                                <img rel="about-us-img" src="static/images/aboutus.jpg">
                            </div>
                            <div class="col-sm-5">
                                <center>
                                    <h2>About US</h2>
                                    <div class="underline"></div>
                                </center>
                                <p class="aboutus-text">
                                    Auctor pretium, sit vulputate diam egestas mauris, urna scelerisque
                                    dignissim volutpat purus velit lacus, vitae volutpat lacus amet 
                                    quisque integer in urna adipiscing diam tincidunt enim 
                                    vestibulum maecenas laoreet aliquam sed porttitor.
                                </p>
                                <a class="load-button" href="aboutUS/">load more...</a>
                            </div>
                        </div>
                    </div>
            <!--=============== about us section end==============-->
            <!--=============== Feedback section start==============-->
                    <div class="feedback">
                        <center>
                            <h2>Students Review</h2>
                            <div class="underline"></div>
                        </center>
                        <div class="container swiper">
                            <div class="slider-wrapper">
                                <div class="card-list swiper-wrapper">
                                    <div class="card-item swiper-slide">
                                        <img class="user-image" src="static/images/user.jpg">
                                        <h2 class="user-name">Santoshi</h2>
                                        <p class="user-course">web Development</p>
                                        <p class="user-review">
                                            In the video, I showed how to create a responsive card slider using HTML, 
                                            CSS, and JavaScript. This slider allows users to navigate through the cards 
                                            using slider buttons or pagination. To make it a modern, 
                                            touch-friendly, and responsive slider, I used SwiperJS, the leading slider library.
                                        </p>
                                    </div>

                                    <div class="card-item swiper-slide">
                                        <img class="user-image" src="static/images/nidhi.jpg">
                                        <h2 class="user-name">Nidhi</h2>
                                        <p class="user-course">web Development</p>
                                        <p class="user-review">
                                            In the video, I showed how to create a responsive card slider using HTML, 
                                            CSS, and JavaScript. This slider allows users to navigate through the cards 
                                            using slider buttons or pagination. To make it a modern, 
                                            touch-friendly, and responsive slider, I used SwiperJS, the leading slider library.
                                        </p>
                                    </div>

                                    <div class="card-item swiper-slide">
                                        <img class="user-image" src="static/images/poonam.jpg">
                                        <h2 class="user-name">Poonam</h2>
                                        <p class="user-course">web Development</p>
                                        <p class="user-review">
                                            In the video, I showed how to create a responsive card slider using HTML, 
                                            CSS, and JavaScript. This slider allows users to navigate through the cards 
                                            using slider buttons or pagination. To make it a modern, 
                                            touch-friendly, and responsive slider, I used SwiperJS, the leading slider library.
                                        </p>
                                    </div>

                                    <div class="card-item swiper-slide">
                                        <img class="user-image" src="static/images/nidhi.jpg">
                                        <h2 class="user-name">Nidhi</h2>
                                        <p class="user-course">web Development</p>
                                        <p class="user-review">
                                            In the video, I showed how to create a responsive card slider using HTML, 
                                            CSS, and JavaScript. This slider allows users to navigate through the cards 
                                            using slider buttons or pagination. To make it a modern, 
                                            touch-friendly, and responsive slider, I used SwiperJS, the leading slider library.
                                        </p>
                                    </div>

                                    <div class="card-item swiper-slide">
                                        <img class="user-image" src="static/images/santoshi.jpg">
                                        <h2 class="user-name">Santoshi</h2>
                                        <p class="user-course">web Development</p>
                                        <p class="user-review">
                                            In the video, I showed how to create a responsive card slider using HTML, 
                                            CSS, and JavaScript. This slider allows users to navigate through the cards 
                                            using slider buttons or pagination. To make it a modern, 
                                            touch-friendly, and responsive slider, I used SwiperJS, the leading slider library.
                                        </p>
                                    </div>

                                    <div class="card-item swiper-slide">
                                        <img class="user-image" src="static/images/user.jpg">
                                        <h2 class="user-name">Santoshi</h2>
                                        <p class="user-course">web Development</p>
                                        <p class="user-review">
                                            In the video, I showed how to create a responsive card slider using HTML, 
                                            CSS, and JavaScript. This slider allows users to navigate through the cards 
                                            using slider buttons or pagination. To make it a modern, 
                                            touch-friendly, and responsive slider, I used SwiperJS, the leading slider library.
                                        </p>
                                    </div>

                                    <div class="card-item swiper-slide">
                                        <img class="user-image" src="static/images/user.jpg">
                                        <h2 class="user-name">Santoshi</h2>
                                        <p class="user-course">web Development</p>
                                        <p class="user-review">
                                            In the video, I showed how to create a responsive card slider using HTML, 
                                            CSS, and JavaScript. This slider allows users to navigate through the cards 
                                            using slider buttons or pagination. To make it a modern, 
                                            touch-friendly, and responsive slider, I used SwiperJS, the leading slider library.
                                        </p>
                                    </div>

                                    <div class="card-item swiper-slide">
                                        <img class="user-image" src="static/images/user.jpg">
                                        <h2 class="user-name">Santoshi</h2>
                                        <p class="user-course">web Development</p>
                                        <p class="user-review">
                                            In the video, I showed how to create a responsive card slider using HTML, 
                                            CSS, and JavaScript. This slider allows users to navigate through the cards 
                                            using slider buttons or pagination. To make it a modern, 
                                            touch-friendly, and responsive slider, I used SwiperJS, the leading slider library.
                                        </p>
                                    </div>
                                    
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                                
                            </div>
                        </div>                         
                    </div>
            <!--=============== Feedback section end==============-->

            <!--=============== Our vision section start==============-->
                    <div class="our-vision">
                        <div class="row">
                            <div class="col-md-12">
                                <center>
                                    <h2>Our Vision</h2>
                                    <div class="underline"></din>
                                </center>
                            </div>
                            <div class="col-md-12">
                                <div class="container">
                                    <p>
                                        Lorem ipsum, or lipsum as it is sometimes known, 
                                        is dummy text used in laying out print, graphic or web designs. 
                                        The passage is attributed to an unknown typesetter in the 15th 
                                        century who is thought to have scrambled parts of Cicero's De 
                                        Finibus Bonorum et Malorum for use in a type specimen book. 
                                        It usually begins with:
                                        Lorem ipsum, or lipsum as it is sometimes known, 
                                        is dummy text used in laying out print, graphic or web designs
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="our-mission">
                        <div class="row">
                            <div class="col-md-12">
                                <center>
                                    <h2>Our Mission</h2>
                                    <div class="underline"></div>
                                </center>
                            </div>
                            <div class="col-md-12">
                                <div class="container">
                                    <p>
                                        Lorem ipsum, or lipsum as it is sometimes known, 
                                        is dummy text used in laying out print, graphic or web designs. 
                                        The passage is attributed to an unknown typesetter in the 15th 
                                        century who is thought to have scrambled parts of Cicero's De 
                                        Finibus Bonorum et Malorum for use in a type specimen book. 
                                        It usually begins with:

                                        Lorem ipsum, or lipsum as it is sometimes known, 
                                        is dummy text used in laying out print, graphic or web designs
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contact-us">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <center><h2>Contact US</h2></center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="contact-detail">
                                    <div class="container">
                                        <h6><i class="fas fa-phone"></i> +91 2301650177</h6>
                                        <h6><i class="fas fa-envelope"></i>232086@kit.ac.in</h6>
                                        <h6><i class="fas fa-envelope"></i>santoshi8979@gmail.com</h6>
                                    </div>
                                </div>
                                <div class="contact-form">
                                    <div class="container">
                                        <form>
                                            <div class="mb-3">
                                                <label for="fullname" class="name">Full Name</label>
                                                <input type="text" class="form-control" id="name" aria-describedby="studentName">
                                            </div>
                                            <div class="mb-3">
                                                <label for="contact" class="contact">Phone No</label>
                                                <input type="number" class="form-control" id="contact">
                                            </div>
                                            <div class="mb-3">
                                                <label class="drop-message" for="message">Drop Message</label>
                                                <textarea id="message" class="form-control" required></textarea>
                                            </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
{% endblock content%}
<!-- middle section end -->
               
