{% extends "base.html" %}

{% block content %}
<section class="middle">

<div class="registration-form">
	<h1 class="text-center">Registration Form</h1>
    {% if error %}
        <div class="">ERROR</div>
    {% endif %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form id="registrationForm" method="post" action="/">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12 mb-4">
                                  	<div data-mdb-input-init class="form-outline">
										<label class="form-label" for="firstName">Name</label>
                                        {{form.name}}
                                    	{% comment %} <input type="text" id="name" name= "name" value="{{name}}" class="form-control form-control-lg" /> {% endcomment %}
                                  	</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                  	<div data-mdb-input-init class="form-outline">
                                    	<label class="form-label" for="emailAddress">Email</label>
                                    	{{form.email}}
                                        {% comment %} <input type="email" id="emailAddress"name="email"value="{{email}}" class="form-control form-control-lg" /> {% endcomment %}
                                  	</div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                  	<div data-mdb-input-init class="form-outline">
                                    	<label class="form-label" for="phoneNumber">Phone Number</label>
                                    	{{form.contact}}
                                        {% comment %} <input type="tel" id="phoneNumber"name="contact" value="{{contact}}"class="form-control form-control-lg" /> {% endcomment %}
                                  	</div>
                                </div>
                            </div>

							<div class="row">
								<div class="col-12">
									<label class="form-label select-label">Choose User Type</label>
                                    {{form.user}}
									{% comment %} <select class="select form-control-lg" style="width:100%">
										<option value="1">Choose option</option>
										<option value="2">Student</option>
										<option value="3">Instructor</option>
									</select> {% endcomment %}
								</div>
                            </div>
                           
                            <div class="mt-4 pt-2">
                                <input data-mdb-ripple-init class="btn btn-danger login-btn" type="submit" value="Submit" />
                            </div>
                        </form>
                        <p class="mt-3">Registered?
                            <a href="/login/">Login account</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

{% endblock  %}